.maincard{
    width: 250px;
    height: 300px;
    border: 1px rgb(115, 115, 115) solid;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    &:hover{
        box-shadow: 0px 0px 5px rgba(112, 156, 245, 0.622), 0 1px 3px rgba(0, 0, 0, 0.08);
        border: 1px  rgb(20, 63, 150) solid;
}
}

.productimage{
    border-bottom: 1px rgba(192, 192, 192, 0.7) solid;
    padding: 5px;
    margin: 5px;
    width: 200px; /* Set the width of the image */
    aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
.headerdetails,.itemsavaiable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details{
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerdetails{
    display: flex;
    align-items: center;
    width: 200px;
    font-weight: 600;
}

.dropdown,.dropdown1,.addtocart{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    outline: none;
    border: 1px rgba(192, 192, 192, 0.7) solid;
    border-radius: 5px;
    padding: 3px;
    color: rgb(3, 92, 3);
}

.dropdown1{
    border: none;
}

.rating{
    margin-right: 5px;
}

li{
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
    margin: 0px 10px 1px 10px;
    color: #5977C3;
    z-index: 999;
    &:hover{
        color: rgb(3, 92, 3);
    }
}
.dropdown-menu{
    position: absolute;
    background-color: white;
    width: 200px;
    padding: 5px;
    margin-left: 10px;
    border: 1px #5977C3 solid;
    z-index: 1000;
    border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.addtocart{
    padding: 10px;
    justify-content: space-around;
    width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.5s, color 0.5s,border 0.5s;

  &:hover{
    border: 1px #6785d1 solid;
    background-color: #6785d1;
  color: #ffffff;
  }
}
.quantity-selector {
    padding: 10px;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 1px #6785d1 solid;
  }
  
  .quantity-button {
    flex: 1; 
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }
  
  .quantity-selector button:first-child {
    justify-content: start;
    cursor: pointer;
  }
  
  .quantity-selector button:last-child {
    justify-content: end;
    cursor: pointer;
  }
  